

<div class="siema">
  {{#each topComplement}}
    <img src="{{image}}" alt="{{top_complement_name}}">
  {{/each}}
</div>
<div class="siema">
  {{#each hoodieComplement}}
    <img src="{{image}}" alt="{{hoodie_complement_name}}">
  {{/each}}
</div>
<div class="siema">
  {{#each shirtComplement}}
    <img src="{{image}}" alt="{{shirt_complement_name}}">
  {{/each}}
</div>
<div class="siema">
  {{#each pantsComplement}}
    <img src="{{image}}" alt="{{pants_complement_name}}">
  {{/each}}
</div>
<div class="siema">
  {{#each socksComplement}}
    <img src="{{image}}" alt="{{socks_complement_name}}">
  {{/each}}
</div>
<div class="siema">
  {{#each shoesComplement}}
    <img src="{{image}}" alt="{{shoes_complement_name}}">
  {{/each}}
</div>