

<p>My looks shown here</p>

{{#each looks}}
<div>
  {{look_name}}
  {{hat_complement}}
  {{shirt_complement}}
  {{hoodie_complement}}
  {{pant_complement}}
  {{socks_complement}}
  {{shoes_complement}}
  <form action="my-looks/{{_id}}" method="get">
    <button>See this look</button>
  </form>
  <form action="my-looks/{{_id}}" method="post">
    <button>Delete Look</button>
  </form>
</div>
{{/each}}
