

{{#each look}}
<div>
  {{look_name}}
  {{hat_complement}}
  {{shirt_complement}}
  {{hoodie_complement}}
  {{pant_complement}}
  {{socks_complement}}
  {{shoes_complement}}
  <form action="{{_id}}" method="post">
    <button>Delete Look</button>
  </form>
</div>
{{/each}}